.book-img {
    width: 50px;
    height: 50px;
    border: gray solid 1px;
    margin: 5px auto;
}

.displaycard {
    // width: 30vw;
     //height:30vh;
    // border: grey solid 1px;
     margin: 5px;
     padding: 5px;
     //background-color: whitesmoke;
   }

ion-button {
    --background: #F4F6F7 ;
  }

  ion-toolbar {
    //--background: #1B4F72;
    --background: #145A32;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  
}



