.book-img {
    width: 50px;
    height: 50px;
    border: gray solid 1px;
    margin: 5px auto;
}

.displaycard {
     //width: 30vw;
    // height:30vh;
    // border: grey solid 1px;
     margin: 5px;
     padding: 5px;
     //background-color: whitesmoke;
   }

.anchor-display {

    //margin:0 auto; - for centering the image
    
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top:5px; 
    
}

.anchorcontnet-display {

  //margin: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-top:5px;
  padding-right: 2px;
  
}

ion-list-header {

  padding-left:0px;
  display:block;
  text-align: center;

}

ion-button {
  --background: #E9F7EF ;
  
}

ion-card-subtitle {
    text-align: center;
    font-weight: bold;
  }

  ion-toolbar {
    //--background: #1B4F72;
    --background: #145A32;
}

.image-container {
    min-height: 200px;
    background-size: cover;
  }
  
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
  
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
  
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
  
  .one-image {
    margin: 2px;
  }

  .drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

  text-align: right;

  input[type="file"] {
      display: none;
  }

  label {
      border: 1px solid #ccc;
      padding: 6px 12px;
      cursor: pointer;
  }
}

.nv-file-over { 
  border: dotted 3px red; 
}