
<ion-header color="success" [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" 
               style="font:xx-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               color: darkgreen; font-weight: bolder;">
    
    </ion-title>
  </ion-toolbar>

  
  
</ion-header> 


<ion-content>

<ion-refresher slot="fixed" (ionRefresh)="refreshBookList($event)">
  <ion-refresher-content pullingText="pull for update" refreshingText= "...updating">
  </ion-refresher-content>
</ion-refresher>

<ion-spinner *ngIf="showSpinner" class="spin"></ion-spinner>

<ion-card *ngIf="!showSpinner">
  <ion-card style="box-shadow: darkolivegreen;">
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">
        {{book?.bookname}}
      </ion-card-title>
      <ion-card-subtitle class="ion-text-wrap">
        Author: {{book?.bookauthor}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="color: darkblue;">
      <ion-chip color="medium">
        Status: 
       <ion-label *ngIf="available && !reserved && !borrowed">
        <span style="color:green"> {{book.bookcurrentstatus}} </span>
       </ion-label>
       <ion-label *ngIf="reserved && !available && !borrowed">
        <span style="color:orange">{{book.bookcurrentstatus}} </span>
       </ion-label>
       <ion-label *ngIf="borrowed && !available" >
        <span style="color:red"> {{book.bookcurrentstatus}} </span>
      </ion-label>
       
       </ion-chip>

      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h3>Book Owner: {{book?.bookowner.firstname}} {{book?.bookowner.lastname}}</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <p> Owner's Rating: {{book?.bookrating}}<ion-icon color="warning" src="../assets/icon/star.svg"></ion-icon></p>
            <p> Owner's Address: {{book?.bookowneraddress}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="available">
        <ion-item>
           
            <ion-label style="font-size: small; color:darkolivegreen">Reserve</ion-label>
            <ion-chip>
              <ion-icon size="large" color="success" src="../assets/icon/cart.svg" button (click)="reserveBook()"></ion-icon>
            </ion-chip>
        </ion-item>
        <ion-item>
        
          <ion-label style="font-size: small; color:darkolivegreen;">Contact Owner</ion-label>
          <ion-chip>
            <ion-icon size="large" style="color:darkseagreen" src="../assets/icon/people.svg" button (click)="contactOwner()"></ion-icon>
          </ion-chip>
      </ion-item>
      <ion-item *ngIf="!recommended">
        <ion-label style="font-size: small; color:darkolivegreen;">Recommend this book to others ? </ion-label>
        <ion-chip>
          <ion-icon style="color: darkgreen" src="../assets/icon/thumbs-up.svg" button (click)="recommendBook()"></ion-icon>
        </ion-chip>
    </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-card style="box-shadow: darkolivegreen;">
    <ion-card-content style="text-align: center;">
        <!-- show QR code button available to only those who have requested the current book-->
        <ion-icon *ngIf="(reserved || borrowed) && showQRButtonFlag" (click)="showServerQRcode()" 
        src="../assets/icon/qr-code-sharp.svg" style="color: #145A32; margin: 10px; text-align: center;" 
        size="large" title="Show QR code" button></ion-icon>

        <ion-icon (click)="openAddCommentModal()"src="../assets/icon/create.svg" 
        style="color: #145A32; margin: 10px; text-align: center;" size="large" button></ion-icon>

        <ion-icon *ngIf="showCommentFlag" (click)="openViewcommentsModal()" src="../assets/icon/eye-sharp.svg"
        style="color: #145A32; margin: 10px; text-align: center;" size="large" button></ion-icon>
    </ion-card-content>
  </ion-card>


</ion-card>

<!--<ion-card [hidden]="book || errMess">
  

  <ion-card style="box-shadow: darkolivegreen;">
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-title>
      <ion-card-subtitle class="ion-text-wrap">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="color: darkblue;">
      <ion-chip color="medium">
        <ion-skeleton-text animated></ion-skeleton-text>
          <ion-label *ngIf="available && !reserved && !borrowed">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-label *ngIf="reserved && !available && !borrowed">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
          <ion-label *ngIf="borrowed && !available" >
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
      </ion-chip>

      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="available">
        <ion-item>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-chip>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-chip>
        </ion-item>
        <ion-item>
          <ion-chip>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-chip>
      </ion-item>
      <ion-item *ngIf="!recommended">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-chip>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-chip>
    </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-card style="box-shadow: darkolivegreen;">
    <ion-card-content style="text-align: center;">
       
        <ion-skeleton-text animated></ion-skeleton-text>

        <ion-skeleton-text animated></ion-skeleton-text>

        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>





</ion-card>-->

 

</ion-content>


