
.book-image {
    width: 300px;
    height: 300px;
    //border: gray solid 1px;
    margin: 10px auto;
}

.comment-card {
    width: 30vw;
    height:30vh;
    border: green solid 1px;
    margin: 10px auto;
}

.bookimage {
    width: 100%;
    //height: auto;
    height: auto;
    //margin-top: 25vh;
    margin: 10px auto;
}

ion-fab-button {
    //color: #1B4F72 ;
    color: whitesmoke;
}

ion-toolbar {
   
    --background: #145A32;
}

ion-back-button {
    color: #FDFEFE;
}

ion-chip {
    background-color: white;
}

.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }

  ion-card {
    border-radius: 10px;
    border: #145A32;
    }

    /* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
  }











