<ion-header color="success" [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" 
               style="font:xx-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               color: white; font-weight: bolder;">
              
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button margin-top shape="round" (click)="openLocalPdf()" 
    style="color: white; font-size:large; font-style: normal; " class="center"> 
     Open Local PDF
    </ion-button>

</ion-content>