.displaycard {
    // width: 30vw;
     //height:30vh;
    // border: grey solid 1px;
     margin: 10px;
     padding: 10px;
     //background-color: whitesmoke;
  }

ion-button {
    --background: #E9F7EF ;
  }

  ion-toolbar {
    //--background: #1B4F72;
    --background: #145A32;
}