<ion-header color="success" [translucent]="true" collapse="condense">
  <ion-toolbar >
    <ion-title size="large" 
               style="font:xx-large; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               color: #FDFEFE  ; font-weight: bolder; font-size: 15px;">
    Add Your Comments
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-card class="displaycard">
    <ion-card-subtitle>
      Post your rating, review on this book
    </ion-card-subtitle>
    <ion-card-content>
      <form [formGroup]="commentFormGroup" #cform="ngForm">
      <ion-item>
          <ion-textarea formControlName="comment" type="text" placeholder="Your Comments"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-text>Your Rating</ion-text>
          <ion-range min="1" max="5" tickInterval="1" value="5" pin="true" snaps name="rating"
          formControlName="rating" ></ion-range>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button shape="round" (click)="onSubmit()" style="color: #1B4F72"
          [disabled]="commentFormGroup.invalid" margin-top expand="full">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button  shape="round" size="mini" (click)="closeModal()" expand="block" 
          margin-top style="color:grey">
          Cancel
          </ion-button>
        </ion-col>
      </ion-row>
       
      </form>
    </ion-card-content>
  </ion-card>


</ion-content>
