<ion-header color="success" [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large" 
               style="font:xx-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
               color: white; font-weight: bolder;">
              
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshBookList($event)">
    <ion-refresher-content pullingText="pull for update" refreshingText= "...updating">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list-header color="" style="margin-bottom: 10px;">
    <ion-item class="">
     <ion-icon style="color: #145A32; margin-right: 5px;" src="../assets/icon/list.svg"></ion-icon>
      <ion-label style="color: #145A32; margin-left: 5px; "> Readers' recommendations </ion-label>
    </ion-item>
  </ion-list-header>

  <ion-spinner *ngIf="showSpinner" class="spin"></ion-spinner>
  <ion-list *ngIf="!showSpinner">
    <ion-virtual-scroll [items]="recobooks">
      <div *virtualItem="let book">
        <ion-list>
          <ion-item [routerLink]="['bookdetail', book._id]">
            <!--<ion-thumbnail>
              <ion-img style="box-shadow: olivedrab;" class="bookimage1" [src]="(bookIdImageMap.get(book._id))"   
              cache="true" button></ion-img>
            </ion-thumbnail>-->
            <img-loader [src]="(bookIdImageMap.get(book._id))" class="bookimage2" useImg (load)="onImageLoad($event)"></img-loader>
           
              <ion-label>
                <h3 style="color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                " class="ion-text-wrap"> 
                  {{book.bookname}}
                </h3>
                <p style="color:darkgrey; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  font-size: small;">
                    Author : {{book.bookauthor}}
                </p>
                </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-virtual-scroll>
  </ion-list>
  <!--<ion-list *ngIf="showSkeleton">
    <ion-virtual-scroll [items]="recobooks">
      <div *virtualItem="let book">
        <ion-list>
          <ion-item>
            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
              <ion-label>
                <h3 style="color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                " class="ion-text-wrap"> 
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h3>
                <p style="color:darkgrey; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                  font-size: small;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </p>
                </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-virtual-scroll>
  </ion-list>-->


 
  <ion-infinite-scroll (ionInfinite)="loadMoreBooks($event)">
    <!--<ion-infinite-scroll-content loadingText="..loading">
    </ion-infinite-scroll-content> -->
  </ion-infinite-scroll>

</ion-content>
