.displaycard {
    // width: 30vw;
     //height:30vh;
    // border: grey solid 1px;
     margin: 5px;
     padding: 5px;
     //background-color: whitesmoke;
   }

   ion-button {
    --background: #F4F6F7  ;
  }

  ion-toolbar {
    //--background: #1B4F72;
    --background: #145A32;
  }

  .header-row {
    background: #E9F7EF;
    color: #fff;
    font-size: 16px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }
  