.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.display_heading {
  margin: 10px auto;
  padding: 10px;
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.book-display {

    //height:50px;
    //border: gray solid 1px;
    margin: 5px;
    padding: 2px;
}

.book-image {
    //width: 300px;
    //height: 300px;
    //border: gray solid 1px;
    margin: 5px;
}

.bookimage1 {
  width: 70px;
  height: 70px;
  //margin-left: 5px;
  box-shadow: grey;
}

ion-toolbar {
  //--background: #1B4F72;
  --background: #145A32;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

ion-avatar  {     
  width:100% !important;  
  height : 100% !important;  
  max-width: 60px !important;  //any size
  max-height: 60px !important; //any size 
  margin: auto;
  //margin-top: 20px;
  }

  .spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
  }

  .bookimage2 {
    width: 90px;
    height: 100px;
    //margin-left: 5px;
    box-shadow: grey;
  }

  ion-label {
    margin-left: 10px;
  }



