.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.display_heading {
  margin: 10px auto;
  padding: 10px;
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.book-display {

    //height:50px;
    //border: gray solid 1px;
    margin: 5px;
    padding: 5px;
}

.book-image {
    //width: 300px;
    //height: 300px;
    //border: gray solid 1px;
    margin: 5px;
}

ion-toolbar {
  //--background: #1B4F72;
  --background: #145A32;
}


