<ion-header  style="box-shadow: none;" color="success" [translucent]="true" collapse="condense">

  <!--<ion-toolbar *ngIf="flag">
    <ion-title size="large" 
               style="font:xx-large; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               color: #FDFEFE  ; font-weight: bolder; font-size: 25px;">
    Sign In
    </ion-title>
  </ion-toolbar>-->

  <ion-card style="box-shadow: none;"> 
    <ion-card-title  style="font:x-large; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #145A32; font-weight: bold; font-size: 20px; margin-left: 10px; margin-top: 30px;">
     Boox<span style="background-color: #145A32; color: #FDFEFE; padding-left: 3px; padding-right: 3px;">ar</span>
    </ion-card-title>
  </ion-card>

</ion-header>

 
<ion-content fullscreen>

  

  <span *ngIf="!flag">
    <!--<img class="displayimg" src="../assets/images/homelibrary.jpeg" style="height: 500px;">-->
        <ion-item-sliding>
          <ion-slides [options]="sliderConfig" (ionSlideDidChange)="slideChanged($event)" style="margin-bottom: 5px;"> 
            <ion-slide  *ngFor="let entry of taglinesArray">
              <ion-col>
                <ion-row style="margin-top: 10px; margin-bottom: 5px;">
                  <!--<img-loader class="displayimg" [src]="entry[0]"  style="height: 450px;"
                  useImg (load)="onImageLoad($event)"></img-loader>-->
                  <img class="displayimg" [src]="entry[0]"  style="height: 450px;" />
                </ion-row>
                <ion-label style="color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size:20px; font-weight:bold; align-content: center;" class="item-text-wrap, ion-text-center">{{entry[1]}}</ion-label>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-item-sliding>
  </span>
  
  <ion-card *ngIf="flag" style="box-shadow:olivedrab">
    <ion-card-content>
      <form [formGroup]="loginFormGroup">
        <ion-item>
          <ion-label color="medium">Username</ion-label>
          <ion-input formControlName="username" type="text" required></ion-input>
        </ion-item>
        <div *ngIf="formErrors.username">
          <ng-container >
            <div style="color:grey; font-size: small;">
              {{formErrors.username}}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label color="medium">Password</ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <div *ngIf="formErrors.password">
          <ng-container >
            <div style="color:grey; font-size: small;">
              {{formErrors.password}}
            </div>
          </ng-container>
        </div>
        <ion-row>
          <ion-col>
            <!--<ion-button shape="round" (click)="logIn()" style="color: whitesmoke;" [disabled]="loginFormGroup.invalid" 
             expand="full" margin-top class="center"><strong>Sign In</strong></ion-button>
         
            <ion-button  shape="round" size="mini" (click)="cancel()" expand="full" 
             margin-top style="color: whitesmoke" class="center">
             Cancel
             </ion-button>-->
             <ion-card style="box-shadow: none;">
                <ion-button shape="round" (click)="logIn()"  
                style="color: whitesmoke;" [disabled]="loginFormGroup.invalid" margin-top class="center"> 
                <strong>Sign In</strong>
                </ion-button>
                <ion-card-subtitle margin-top shape="round" (click)="cancel()" button  
                 style="color: #145A32; font-size: larger; font-weight: bolder; font-style: normal" class="ion-text-center">
                  Cancel
              </ion-card-subtitle>
            </ion-card>

           </ion-col>
        </ion-row>
       <!-- <ion-button shape="round" (click)="cancel()" margin-top expand="block" style="color:grey">Cancel</ion-button>-->
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card style="box-shadow: none;">
    <ion-button margin-top shape="round" *ngIf="!flag" (click)="signupModal()"  expand="block"
    style="color: white; font-size:large; font-style: normal; " class="center"> 
     Not a member ? Join Now!
    </ion-button>
   <ion-card-subtitle *ngIf="!flag" margin-top shape="round" (click)="displayLogin()" button 
   style="color: #145A32; font-size: larger; font-weight: bolder; font-style: normal" class="ion-text-center">
     Sign In
   </ion-card-subtitle>
  </ion-card>
  
    
</ion-content>
