.display_heading {
  margin: 10px auto;
  padding: 10px;
}

.displaycard {
  // width: 30vw;
   //height:30vh;
   //border: grey solid 1px;
   margin: 5px;
   padding: 5px;
   
 }

 .displayimg {
   // display: block;
    
    margin-left: auto;
    margin-right: auto;
 }

ion-button {
  --background: #E9F7EF   ;
}





ion-content {
  --background: #FDFEFE ;
}

ion-item {
  --background: ;
}

ion-fab-button {
  --background: #FDFEFE;
}

ion-toolbar {
  //--background: #1B4F72;
  --background: #145A32;
}