<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="../assets/icon/library.svg"></ion-icon>
      <ion-label>ReadARs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon src="../assets/icon/book.svg"></ion-icon>
      <ion-label>My Books</ion-label>
    </ion-tab-button>
   <ion-tab-button tab="tab2">
    <ion-icon src="../assets/icon/person.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="logOut()" tab="logout">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>



</ion-tabs>
