
<ion-header color="success" [translucent]="true" collapse="condense">

  <ion-toolbar *ngIf="username">
    <ion-title size="large" 
      style="font:xx-large; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #FDFEFE  ; font-weight: bolder; font-size: 25px; white-space: normal;">Hello, {{username}}
    </ion-title>
  </ion-toolbar>

  




</ion-header> 



<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="clearCache($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  
    <img-loader useImg (load)="onImageLoad($event)" button> 
    <ion-avatar *ngIf="this.url">
      <img [src]="this.url">
    </ion-avatar>
    </img-loader>

  
   

  <ion-list style="margin-top: 30px;">
   
    <ion-item (click)="selectImageSource()"> 
      <span style="font-size: small;">Update Photo</span>
    </ion-item>
    <ion-item >
      <span style="color:darkgrey; font-size: small;">Update Profile</span> 
    </ion-item>
    <ion-item>
     <span style="color:darkgrey; font-size: small;">Wallet</span> 
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/log-out-outline.svg" 
       (click)="logOut()"></ion-icon>
    </ion-item>
   
   

  </ion-list>
  
  <!--<ion-thumbnail (click)="selectImageSource()">
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-thumbnail>-->

  <!--<ion-thumbnail>
    <ion-img [src]="capturedImage" *ngIf="capturedImage" height="100"></ion-img>
  </ion-thumbnail>-->
  
</ion-content>



  <!--<ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dummy Text</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Dummy Text
    </ion-card-content>
  </ion-card> -->

  <!-- <div *ngIf="!bookList">
    <ion-card>
          <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
          <ion-card-header>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-header>
    </ion-card>
  </div>


  <ion-card [routerLink]="['bookdetail', book.id]" button
  *ngFor="let book of (bookList | async)">
    <ion-img [src]="book.cropped"></ion-img>
    <ion-card-header>
      <ion-card-title>{{book.name}}</ion-card-title>
    </ion-card-header>
  </ion-card> -->
