.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.skeleton-image {
  height: 175px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border: gray solid 1px;
    margin: 10px auto;
}

.display_heading {
  margin: 10px auto;
  padding: 10px;
}

.my-custom-menu {
  --width: 500px;
}
ion-toolbar {
  //--background: #1B4F72;
  --background: #145A32;
}

ion-button {
  --background: #FDFEFE;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}


