
<ion-header color="success" [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-title size="large" 
               style="font:xx-large; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               color: #FDFEFE  ; font-weight: bolder; font-size: 25px;">
     ReadARs
    </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content>
 

  <ion-refresher slot="fixed" (ionRefresh)="refreshBookList($event)">
    <ion-refresher-content pullingText="pull for update" refreshingText= "...updating">
    </ion-refresher-content>
  </ion-refresher>

  <!--<ion-refresher slot="fixed" (ionRefresh)="clearCache($event)">
    <ion-refresher-content pullingText="pull for update" refreshingText= "...updating">
    </ion-refresher-content>
  </ion-refresher>-->

  <ion-list>
    
    
    <ion-list-header color="">
      <ion-item class="ion-text-center">
       <ion-icon style="color:  #2C3E50" src="../assets/icon/list.svg"></ion-icon>
        <ion-label style="color: #17202A   "> ALL THE BOOKS </ion-label>
      </ion-item>
    </ion-list-header>
    <ion-item-sliding>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let book of books">
            <!--<ion-img class="bookimage" [src]="(bookIdImageMap.get(book._id))" 
              [routerLink]="['bookdetail', book._id]" button></ion-img>-->
            <img-loader class="bookimage" [src]="(bookIdImageMap.get(book._id))" [routerLink]="['bookdetail', book._id]"  
            useImg (load)="onImageLoad($event)" button></img-loader>
        </ion-slide>
      </ion-slides> 
    </ion-item-sliding>
 
  
    <ion-list-header color="">
      <ion-item class="ion-text-center">
        <ion-icon style="color: #2C3E50 ;" src="../assets/icon/albums.svg"></ion-icon>
        <ion-label style="color:  #17202A ;"> BOOKS BY CATEGORIES </ion-label>
      </ion-item>
    </ion-list-header>

    <ion-select (ionChange)="selectCollectionCategory($event)" interface="popover" placeholder="Choose category..">
      <ion-select-option *ngFor="let category of collectonCategory" [value]="category"> {{category}}</ion-select-option>
   </ion-select>

    <ion-item-sliding *ngIf="showGenre">
      <ion-select (ionChange)="displayGenreCollection($event)" interface="popover" placeholder="Select genre..">
        <ion-select-option *ngFor="let bgenre of bookgenre" [value]="bgenre"> {{bgenre}}</ion-select-option>
     </ion-select>
      <ion-slides [options]="sliderConfig" >
        <ion-slide *ngFor="let bookGenre of bookGenreCollection" >
          <!--<ion-img class="bookimage" [src]="(bookIdImageMap.get(bookGenre._id))" 
                [routerLink]="['bookdetail', bookGenre._id]" button></ion-img>-->
          <img-loader class="bookimage" [src]="(bookIdImageMap.get(bookGenre._id))" [routerLink]="['bookdetail', bookGenre._id]"  
                useImg (load)="onImageLoad($event)" button></img-loader>
        </ion-slide>
      </ion-slides>
    </ion-item-sliding>
    <ion-item-sliding *ngIf="showLanguage">
      <ion-select (ionChange)="displayLanguageCollection($event)" interface="popover" placeholder="Select language..">
        <ion-select-option *ngFor="let blanguage of booklanguage" [value]="blanguage"> {{blanguage}}</ion-select-option>
     </ion-select>
      <ion-slides [options]="sliderConfig" >
        <ion-slide *ngFor="let bookLanguage of bookLanguageCollection" >
          <!--<ion-img class="bookimage" [src]="(bookIdImageMap.get(bookLanguage._id))" 
                [routerLink]="['bookdetail', bookLanguage._id]" button></ion-img>-->
          <img-loader class="bookimage" [src]="(bookIdImageMap.get(bookLanguage._id))" 
          [routerLink]="['bookdetail', bookLanguage._id]" useImg (load)="onImageLoad($event)" button></img-loader>
        </ion-slide>
      </ion-slides>
    </ion-item-sliding>

    <ion-list-header color="">
      <ion-item class="ion-text-center">
      <ion-icon style="color: #2C3E50  ;" src="../assets/icon/thumbs-up.svg"></ion-icon>
          <ion-label style="color: #17202A ;">READERS' RECOMMENDATIONS</ion-label>
      </ion-item>
    </ion-list-header>
    <ion-item-sliding>
      <ion-slides [options]="sliderConfig" >
        <ion-slide *ngFor="let recobook of recobooks" >
          <!--<ion-img class="bookimage" [src]="(bookIdImageMap.get(recobook._id))" 
                [routerLink]="['bookdetail', recobook._id]" button></ion-img>-->
          <img-loader class="bookimage" [src]="(bookIdImageMap.get(recobook._id))" 
              [routerLink]="['bookdetail',recobook._id]" useImg (load)="onImageLoad($event)" button></img-loader>
        </ion-slide>
      </ion-slides>
    </ion-item-sliding>
  </ion-list>
 


  

  <ion-infinite-scroll (ionInfinite)="loadMoreBooks($event)">
    <!--<ion-infinite-scroll-content loadingText="..loading">
    </ion-infinite-scroll-content> -->
  </ion-infinite-scroll>

</ion-content>
