.drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

    text-align: center;

    input[type="file"] {
        display: none;
    }

    label {
        background-color: #E9F7EF;
        border: 1px solid #ccc;
        padding: 5px;
        cursor: pointer;
        margin: 5px;
    }
}

.nv-file-over { 
    border: dotted 3px red; 
}

.displaycard {
    // width: 30vw;
     //height:30vh;
    // border: grey solid 1px;
     margin: 10px;
     padding-left: 5px;
     padding-right: 1px;
     padding-bottom: 5px;
     padding-top: 5px;
     //background-color: whitesmoke;
   }